<h4>登録が完了しました</h4>

<h4>登録内容</h4>
<li>名前: <%= @user.name %></li>
<li>Eメール: <%= @user.email %></li>


<hr>

<p>このメールアドレスは送信専用となっております。</p>
<p>Re:piboへのお問い合わせは re.picture.books@gmail.com までお願いいたします。</p>