<h4>Repiboへの登録が完了しました</h4>

<h4>登録内容</h4>
<p>名前: <%= @user.name %></p>
<p>Eメール: <%= @user.email %></p>

<p>絵本を投稿してお取り引きをはじめましょう。</p>

<hr>

<p>このメールアドレスは送信専用となっております。</p>
<p>Re:piboへのお問い合わせは re.picture.books@gmail.com までお願いいたします。</p>