@charset "UTF-8";
/* for Webkit */
/* line 3, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-control::-webkit-input-placeholder {
  color: #e3e3e3;
  padding-left: 2px;
  padding-top: 1px;
}

/* for Firefox */
/* line 9, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-control::-moz-placeholder {
  padding-top: 2px;
}

/* for Firefox 18以前 */
/* line 13, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-control:-moz-placeholder {
  padding-top: 2px;
}

/* for Windows IE */
/* line 17, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-control:-ms-input-placeholder {
  padding-top: 2px;
}

/* line 20, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-control {
  border-radius: 1px;
  box-shadow: none;
  font-size: 1.2em;
  padding-left: 5px;
  -webkit-box-shadow: none;
}

/* line 27, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-area {
  background-color: #fdfefe;
  border-style: none;
  font-size: 12px;
  padding: 10px 40px 10px;
  margin: 10px 0px 10px;
  text-align: left;
}

/* line 35, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/form.scss */
.form-content {
  padding: 10px 0px 30px 0px;
}
