/* line 1, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_show_field {
  height: auto;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}

/* line 8, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_show li {
  margin-bottom: 0px;
}

/* line 11, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_show hr {
  margin-bottom: 0px;
}

/* line 14, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_show_contents {
  margin: 0 auto;
  padding: 20px 0px 15px 0px;
}

/* line 18, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_end {
  margin: 0px auto;
  padding-top: 50px;
  text-align: center;
}

/* line 23, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_confirm_btn {
  padding-top: 30px;
}

/* line 26, /home/ubuntu/workspace/mepibo/app/assets/stylesheets/messages.scss */
.message_back_btn {
  padding-top: 30px;
}
