<div class="donation fadeIn_text_up_1s">
  <section class="donation-field container-fluid">
    <div class="col-md-2"></div>    
    <div class="col-md-8">    
      <h4>Re:piboは絵本を児童館や図書館へ</h4>
      <h4>寄付することも推進しています。</h4><br>
      <li>寄付をお考えの方は</li>
      <li>下記の場所へコンタクトをとってみましょう。</li><br>
      <hr>
    </div>
    <div class="col-md-2"></div>    
  </section>
  <section class="container-fluid donation-place">
    <div class="row">
      <div class="col-md-3"></div>
      <table class="col-md-6">
        <tr>
          <td>一般社団法人アストモ</td>
          <td><a href="http://asutomo.org/asutomonowa/ehon.htm" target="_blank">http://asutomo.org/asutomonowa/ehon.htm</a></td>
        </tr>
        <tr>
          <td>地球の楽好グループ</td>
          <td><a href="http://chikyuunogakkou.org/ehon.html" target="_blank">http://chikyuunogakkou.org/ehon.html</a></td>
        </tr>
      </table>
      <div class="col-md-3"></div>
    </div>
    <li>現在受付先を募集中しております。お問い合わせよりご連絡ください。</li><br>
  </section>
</div>