<div class="row book-field"> 
  <div class="grid"
     data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300,"transitionDuration": "1.1s","gutter": 3,"fitWidth": true }'>
    <% @books.each do |book| %>
      <div class="book-panel grid-item">
        <div class="book-images" ontouchstart="" >
          <%= link_to image_tag(book.image_url, class:"img-responsive book-img"), book_path(book) %>
        </div>
        <div class="book-contents" ontouchstart="" > 
          <li>タイトル：<%= book.title %></li>
          <li>ジャンル：<%= link_to book.tag_list, tag_path(book.tag_list) %></li>
        <% if book.transfer_complete == true %>
          <li class="complete_message alert alert-info">この絵本の取引は終了しました。</li>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paginate">
    <%= paginate @books %>
  </div>
</div>