<div class="donation fadeIn_text_up_1s">
  <section class="donation-field container-fluid">
    <div class="col-md-1"></div>    
    <div class="col-md-2"></div>    
    <div class="col-md-6">    
      <h4><%= t '.disclaimer' %></h4>
      <hr>
    </div>
    <div class="col-md-2"></div>    
    <div class="col-md-1"></div>    
  </section>
  <section class="container-fluid donation-place">
    <div class="row function-image">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <li><%= t '.text_1' %></li>
        <li><%= t '.text_2' %></li>
        <li><%= t '.text_3' %></li>
      </div>
      <div class="col-md-3"></div>
    </div>
  </section>
</div>