<li>from:<%= @contact.email %></li>
<li><%= @contact.name %> さんから</li>
<li>Re:piboへのお問い合わせがあります。</li>

<h4>お問い合わせ内容の確認</h4>
<li><%= @contact.content %></li>


<hr>

<p>このメールアドレスは送信専用となっております。</p>
<p>Re:piboへのお問い合わせは re.picture.books@gmail.com までお願いいたします。</p>