<section class="about">
  <!--<h1>About</h1>-->
  <div>
  <h3>小さなころ、大好きだった絵本。</h3>
  <h3>子供が寝る前によく読んであげた絵本。</h3>
  <h3>そんな大切な絵本を</h3>
  <h3>楽しみにしてくれる誰かにゆずってみませんか？</h3>
  <h3>自分の大切な思い出と一緒に投稿して、</h3>
  <h3>読んでくれる子供たちに送ってあげましょう。</h3>
  </div>
</section>

<section class="container-fluid function">
  <div class="function-contents">
  <h1>Re:piboについて</h1>
    <div class="row function-images">
      <div class="col-xs-12 col-sm-6 col-md-3 function-image">
        <img src="male-user.png">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 function-image">
        <img src="paper-plane.png">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 function-image">
        <img src="envelope.png">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 function-image">
        <img src="info.png">
      </div>
        
      <div class="col-xs-12 col-sm-6 col-md-3 function-text">
        <p>
        Re:piboを使用する場合は、会員登録を行いましょう。<br>
        登録後 絵本の投稿などのお取引ができます。<br>
        会員登録は<%= link_to "こちら", new_user_path %>から。
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 function-text">
        <p>
        自宅に眠っている絵本を投稿しましょう。<br>
        投稿は<%= link_to 'こちら', new_book_path %>から。
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 function-text">
        <p>譲り受けたい方からメッセージが届きます。<br>
           やり取りを行いましょう。</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 function-text">
        <p>
        Re:piboは寄付することをベースに作られています。<br>
        売買目的の投稿は行わないようお願いいたします。
        </p>
      </div>
    </div>
  </div>
</section>
