<section class="about container-fluid fadein">
  <div class="row ">
    <h3>
      <span class="text">小さなころ</span>
      <span class="text">大好きだった絵本</span>
    </h3>
    <h3>
      <span class="text">子供が寝る前に</span>
      <span class="text">よく読んであげた絵本</span>
    </h3>
    <h3>そんな大切な絵本を</h3>
    <h3>
      <span class="text">楽しんでくれる誰かに</span>
      <span class="text">ゆずってみませんか？</span>
    </h3>
    <h3>
      <span class="text">自分の大切な</span>
      <span class="text">思い出と一緒に投稿して</span>
    </h3>
    <h3>
      <span class="text">読んでくれる子供たちに</span>
      <span class="text">送ってあげましょう。</span>
    </h3>
  </div>
</section>

<section class="container-fluid function fadein">
  <div class="function-field">
    <div class="row">
    <h1>Re:piboについて</h1>
    </div>
    <div class="row function-contents">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="function-images">
          <img src="male-user.png" sizes="10vw">
        </div>
        <p>
          <span class="text">Re:piboを使用する場合は</span>
          <span class="text">会員登録を行いましょう。</span>
          <span class="text">登録後 絵本の投稿などのお取引ができます。</span>
          <span class="text">会員登録は<%= link_to "こちら", new_user_path %>から。</span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="function-images">
          <img src="paper-plane.png">
        </div>
        <p>
          自宅に眠っている絵本を投稿しましょう。<br>
          投稿は<%= link_to 'こちら', new_book_path %>から。
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="function-images">
          <img src="envelope.png" class="envelope-png">
        </div>
        <p>
          譲り受けたい方からメッセージが届きます。<br>
          やり取りを行いましょう。
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="function-images">
          <img src="info.png">
        </div>
        <p>
          Re:piboは寄付することをベースに作られています。<br>
          売買目的の投稿は行わないようお願いいたします。<br>
          <li><%= link_to '免責事項', disclaimers_path %></li>
        </p>
      </div>
    </div>
  </div>
</section>
