<p><%= @message.name %> さんより</p>
<p>投稿した絵本へのメッセージが届きました。</p>

<p>メッセージ内容</p>
<p><%= @message.content %></p>

<p><%= @message.email %> にメッセージをして</p>
<p><%= @message.name %> さんとやりとりをしましょう。</p>

<hr>

<p>このメールアドレスは送信専用となっております。</p>
<p>mepiboへのお問い合わせは xxxxx@xxxx.com までお願いいたします。</p>