<p><%= @message.name %> さんより</p>
<p>投稿した絵本へのメッセージが届きました。</p>
<hr>
<h4>メッセージ内容</h4>
<li><%= @message.content %></li>

<p><%= @message.email %> にメールをして</p>
<p><%= @message.name %> さんとやりとりをしましょう。</p>


<hr>

<p>このメールは送信専用となっております。</p>
<p>Re:piboへのお問い合わせは re.picture.books@gmail.com までお願いいたします。</p>