.books-new{
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}
.books-new h3{
    letter-spacing: 9px;
}

.post-contents{    
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
}
.post-contents{    
    margin-top: 40px;
    margin-bottom: 30px;
}
.new_submit{
    // float: right;
}

.book-up-field{
    width: 100%;
    margin-top: 10px;
}

.text_field.hoge{
    width: 75%;
}




.transfer_complete{
    margin: 0 auto;
    height: auto;
    padding: 10px;
}
.custom-checkbox{
    margin-right: 20px;
}

.complete_message{
    float: right;   
    margin-top: 0 auto;
    width: 50%;
    text-align: center;
}



.right-comment{
    padding-top: 30px;
    text-align: left;
}