// main-field //////////////////////////////////////////////////////////////////
.main-field{
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}
// tag /////////////////////////////////////////////////////////////////////////
.tag_field{ 
  margin: 10px auto;
  text-align: center;
  width: 100%;
}
.tag_cloud {
  display: flex;
  font-size: 0.5em;
  text-align: center;
  width: 100%;
}
.tag_cloud ul li{
  display: inline;
}
.tag_cloud li{
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}
.tag_name{
  font-size: 1.8em;
  padding: 10px;
}
// BOOK index///////////////////////////////////////////////////////////////////
.book-field{
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.book-panel{
  padding-bottom: 20px;
}
.book-images{
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}
.book-img{
  transition: opacity 1s ease-out;
}
.book-img:hover{
  opacity: 0.6;
  transition: opacity 0.5s ease-out;
}
.book-contents li{
  font-size: 14px;
  padding: 2px;
}
.new_submit{
  margin-top:30px;
  padding-bottom: 20px;
}
.book-contents{
  font-size: 1rem;
  word-wrap: break-word;
}
.contents_detail{
  margin-top: 20px;
  margin-bottom: 20px;
}
.book_show_fav{
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
.book_show_image{
    margin-top: 50px;
    margin-bottom: 50px;
}
.book_show_image p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#book_image{
    display: block;
    float: center;
    margin: 0px auto;
    width: 30%;
}
.new-post {
  border-radius: 5px;
  display: inline-block;
  height: 400px;
  margin-top: 100px;
  width: 100%;
}
.pagenate{
  letter-spacing: 3px;
  text-align: center;
}
// 確認画面/////////////////////////////////////////////////////////////////////
.confirm_field{
    margin-top: 30px;
    padding: 0px 0px 100px 0px;
}
.confirm_field_title{
  padding-bottom: 10px;
  text-align: center;
}
.back_btn{
  text-align: center;
  padding: 70px 0px 30px 0px;
}
// 新規投稿/////////////////////////////////////////////////////////////////////
.books-new{
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.books-new h3{
  letter-spacing: 9px;
}
.post-contents{    
  height: auto;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 100%;
}
.post-contents{    
  margin-top: 40px;
  margin-bottom: 30px;
}
.book-up-field{
  margin-top: 10px;
  width: 100%;
}
.transfer_complete{
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.left-comment{
  padding-top: 55px;
}
.left-comment li{
  padding-top: 10px;
}
.left-comment p{
  color: Grey;
  padding-top: 5px;
}
.left-comment-top{
  padding-bottom: 15px;
}
// books/showページ////////////////////////////////////////////////////////////
#book-show-field{
  background-color: #fdfefe;
  color: #404040;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
}
.book-show-panel{
  margin: 0 auto;
  width: 100%;
}
.book-show-img{
  padding-top: 20px;
  padding-left: 20px;
}
.book-show-contents{
  padding-top: 20px;
  padding-right: 20px;
}
.book-show-contents li{
  margin: 0 auto;
  padding-bottom: 20px;
}
.book-show-contents h1{
  margin: 0 auto;
  padding-bottom: 20px;
}
.book-show-contents h2{
  margin: 0 auto;
  padding-bottom: 40px;
}
.book-show-contents h3{
  margin: 0 auto;
  padding-bottom: 20px;
}
.book-show-contents h4{
  color: grey;
  margin: 0 auto;
  padding-bottom: 5px;
}
.message-field{
  background-color: #fdfefe;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}
.message-contents{
  margin: 20px auto;
  padding-top: 20px;
}