.donation{
  background-color: #fdfefe;
  height: auto;
  margin: 0 auto;
  text-align: center; 
  width: 100%;
}
.donation-field {
  padding-top: 40px;
  padding-bottom: 30px;
}
.donation-place {
  padding-bottom: 200px;
}
.donation-place td{
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
}
