/* for Webkit */
.form-control::-webkit-input-placeholder{
  color: #e3e3e3;
  padding-left: 2px;
  padding-top: 1px;
}
/* for Firefox */
.form-control::-moz-placeholder{
  padding-top: 2px;
}
/* for Firefox 18以前 */
.form-control:-moz-placeholder{
  padding-top: 2px;
}
/* for Windows IE */
.form-control:-ms-input-placeholder{
  padding-top: 2px;
}
.form-control{
	border-radius: 1px;
	box-shadow: none;
  font-size: 1.2em;
  padding-left: 5px;
	-webkit-box-shadow: none;
}
.form-area{
  background-color: #fdfefe;
	border-style: none;
	font-size: 12px;
	padding: 10px 40px 10px;
	margin: 10px 0px 10px;
	text-align: left;
}
.form-content{
  padding: 10px 0px 30px 0px;
}
input.form-control{
  height: 38px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fdfefe;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}