// animation///////////////////////
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
//////////font//////////////////////
@font-face {
  font-family: 'MyFont';
  src: url("/mplus-TESTFLIGHT-063/mplus-1p-light.ttf");
}
////////////////////////////////////
html {
  position: relative;
  min-height: 100%;
  color: #404040;
  font-weight: normal;
  background-color:#fdfefe;
}
body {
  height: 100%;
  color: #404040;
  background-color:#fdfefe;
  letter-spacing: 1.5px;
  font-family: 'MyFont';
  font-weight: 300;
  font-style: normal;
  font-size: 1.2vw;
  letter-spacing: .04em;
  line-height: 1.8em;
  text-transform: none;
  color: #25282a;
  word-break : break-all;
  animation: fadeIn 3s ease 0s 1 normal;
  -webkit-animation: fadeIn 3s ease 0s 1 normal;
}
a { 
  font-size: 1.2vw;
  color: #999;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #2b2b2b;
  text-decoration: none;
}
li{
  font-size: 1.2vw;
  letter-spacing: 4px;
  list-style:none;
}
p{
  font-size: 1.2vw;
  letter-spacing: 2px;
}
h1{
  font-size: 2.8vw;
  letter-spacing: 12px;
  font-size: 3vm;
}
h2{
  font-size: 2.4vw;
  letter-spacing: 9px;
}
h3{
  font-size: 2vw;
  letter-spacing: 9px;
}
h4{
  font-size: 1.6vw;
  letter-spacing: 9px;
}
// nav //
.nav{
  padding-top: 22px;
  margin-left: -20px;
  margin-right: 20px;
  color: #404040;
  font-size: 0.9vw;
  width: 100%;
}
.nav ul{
  float: left;
  left: -20px;
  letter-spacing: 2px;
}
.nav ol{
  float: right;
  letter-spacing: 2px;
}
.nav:after {
  content: "";
  display: block;
  clear: both;
}
// main-header //
.main-header {
  margin: 0 auto;
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("/home_background.jpg");
  background-attachment: fixed;
  height: 768px;
}
.main-header h1 {
  display: block;
  margin: 0 auto;
  margin-left: 5%;
  color: #2B2B2B;
  // font-size: 37px;
  padding-top: 20%;
  letter-spacing: 14px;
}
.main-header h3 {
  display: block;
  margin: 0 auto;
  margin-left: 5%;
  color: #2B2B2B;
  padding-top: 16px;
  letter-spacing: 9px;
}
.main-header a {
  color: #2b2b2b;
  transition: all ease-in-out 200ms;
}
.main-header a:hover {
  color: #999;
  text-decoration: #2F2F2F;
}
// other header////////////
.other-header {
  margin: 0 auto;
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("/home_background.jpg");
  background-attachment: fixed;
  height: 200px;
}
.other-header h3 {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  width: 100%;
  color: grey;
  padding-top: 10px;
  letter-spacing: 9px;
  text-align: center;
}
.new-header {
  margin: 0 auto;
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("/home_background.jpg");
  background-attachment: fixed;
  height: 200px;
}
.new-header h3 {
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  color: grey;
  padding-top: 10px;
  letter-spacing: 9px;
  text-align: center;
}
// about //
.about {
  width: 100%;
  background-color: #fdfefe;
  color: #404040;
  margin: 0 auto;
  height: 768px;
  text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about h3 {
  margin: 0 auto;
  color: grey;
  padding-bottom: 5%;
}
// function //
.function {
  width: 100%;
  background-color: #efefef;
  margin: 0px auto; 
  margin-bottom: 70px;
  height: auto;
  padding-top: 5%;
  padding-bottom: 200px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.function-field{
  margin: 0 auto;
  height: auto;
  // padding-bottom: 100px;
}
.function h1 {
  display: block;
  margin: 0 auto;
  // padding-top: 1%;
  padding-bottom: 20px;
  color: grey;
  text-align: center;
}
.function p {
  display: block;
  margin: 0 auto;
  color: grey;
  padding-bottom: 1%;
}
.function-contents{
  text-align: center;
  // padding-top: 30px;
  // padding-bottom: 20px;
}
.function-images{
  padding: 20px;
  // size: 100vw;
}
.function img{
  width: 5.3vw;
}
.envelope-png{
  padding-top: 10px;
  padding-bottom: 10px;
}
// footer //
footer {
  text-align: center;
  background-color:#f8f7f5;
  color: #404040;
  margin: 0px auto;
  font-size: 12px;

  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer li{
  // padding-top: 50px;
  // padding-bottom: 50px;
}
// flash-message //
.flash-message{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fdfefe;
}
.error-message{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fdfefe;
}
.notice{
  text-align: center;
}