//font//////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: 'MyFont';
  src: url("/mplus-TESTFLIGHT-063/mplus-1p-light.ttf");
}
//cleafix///////////////////////////////////////////////////////////////////////
.clearfix:after{
	clear: both;
	content: "";
	display: block;
}
////////////////////////////////////////////////////////////////////////////////
html {
  background-color:#fdfefe;
  color: #2b2b2b;
  font-weight: normal;
  height: 100%;
  min-height: 100%;
  position: relative;
}
body {
  background-color:#fdfefe;
  color: #2b2b2b;
  font-family: 'MyFont';
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  letter-spacing: 1.5px;
  letter-spacing: .04em;
  line-height: 1.8em;
  position: relative;
  text-transform: none;
  width: 100%;
  word-break : break-all;
  // 600px以降から、100pxごとに1px大きくなる
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400)}
  // 1,000px以上は、22pxに
  @media (min-width: 1000px) {
    font-size: calc(137.5%)}
}
a { 
  color: #999;
  font-size: 1em;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #404040;
  text-decoration: none;
}
li{
  font-size: 1.2em;
  letter-spacing: 4px;
  list-style:none;
}
p{
  font-size: 1.2em;
  letter-spacing: 2px;
}
h1{
  font-size: 2.2em;
  letter-spacing: 12px;
}
h2{
  font-size: 2em;
  letter-spacing: 9px;
}
h3{
  font-size: 1.8em;
  letter-spacing: 9px;
}
h4{
  font-size: 1.6em;
  letter-spacing: 9px;
}
h5{
  font-size: 1.4em;
  letter-spacing: 9px;
}
hr{
  margin-top: 5px;
}
// main-header /////////////////////////////////////////////////////////////////
.main-header{
  background-image: image-url("/home_background_m.jpg");
  background-size: cover;
  background-attachment: local;
  background-position: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%;
}
.main-header h1 {
  color: Whitesmoke;
  display: block;
  letter-spacing: 14px;
  margin: 0 auto;
  margin-left: 5%;
  padding-top: 10%;
}
.main-header h3 {
  color: Whitesmoke;
  display: block;
  letter-spacing: 9px;
  margin: 0 auto;
  margin-left: 5%;
  padding-top: 16px;
}

.main-header a {
  color: whitesmoke;
  transition: all ease-in-out 200ms;
}
.main-header a:hover {
  color: #2b2b2b;
  text-decoration: #2F2F2F;
}
// 投稿一覧 ////////////////////////////////////////////////////////////////////
.books-index-header {
  background-image: image-url("/books-index-background.jpg");
  background-size: cover;
  background-attachment: local;
  height: 100vh;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.books-index-header h1 {
  color: #2b2b2b;
  display: block;
  letter-spacing: 14px;
  margin: 0 auto;
  margin-left: 5%;
  padding-top: 10%;
}
.books-index-header h3 {
  color: #2b2b2b;
  display: block;
  letter-spacing: 9px;
  margin: 0 auto;
  margin-left: 5%;
  padding-top: 16px;
}
.books-index-header a {
  color: #2b2b2b;
  transition: all ease-in-out 200ms;
}
.books-index-header a:hover {
  color: #999;
  text-decoration: #2F2F2F;
}
// other header/////////////////////////////////////////////////////////////////
.other-header {
  background-image: image-url("/books-index-background.jpg");
  background-size: cover;
  background-attachment: local;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.other-header h3 {
  color: grey;
  display: block;
  letter-spacing: 9px;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.other-header a {
  color: #2b2b2b;
  transition: all ease-in-out 200ms;
}
.other-header a:hover {
  color: #999;
  text-decoration: #2F2F2F;
}
// about ///////////////////////////////////////////////////////////////////////
.about {
	align-items: center;
  background-color: #fdfefe;
  color: #404040;
	display: flex;
  height: 100%;
	justify-content: center;
  margin: 0 auto;
	padding-top: 100px;
  text-align: center;
  width: 100%;
}
.about h3 {
  color: grey;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 1%;
}
.text{
  display: inline-block;
  padding-bottom: 20px;
}
// function ////////////////////////////////////////////////////////////////////
.function {
	align-items: center;
  background-color: #fdfefe;
	display: flex;
  height: 100%;
	justify-content: center;
  margin: 0px auto; 
  padding-bottom: 100px;
  padding-top: 100px;
	text-align: center;
  width: 100%;
}
.function-field{
  height: auto;
  margin: 0 auto;
}
.function h1 {
  color: grey;
  display: block;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: center;
}
.function p {
  display: block;
  margin: 0 auto;
  padding-bottom: 1%;
}
.function-contents{
  text-align: center;
}
.function-images{
  padding: 20px;
}
.function img{
  width: 3em;
}
.envelope-png{
  padding-top: 10px;
  padding-bottom: 10px;
}
// footer //////////////////////////////////////////////////////////////////////
footer {
  background-color:#fdfefe;
  bottom: 0;
  color: #404040;
  font-size: 12px;
  height: 50px;
  margin: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}
footer p{
  margin: 0 auto;
}
// エラーメッセージ,notice /////////////////////////////////////////////////////
.flash-message{
  color: #f48b94;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.error-message{
  color: #f48b94;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.error-message ul{
  padding: 0px;
}
.notice{
  color: #b5cdd9;
  font-size: 1.8em;
  text-align: center;
  padding: 10px 0px 20px 0px;
}