.signup-login-field{
    margin: 40px 0px 30px;
    padding-bottom: 30px;
    height: auto;
    text-align: center;
}

.signup-field{
    // padding-bottom: 200px;
}


.login-field{
    // padding-bottom: 600px;
}

.form-content{
    padding: 10px 0px 30px 0px;
}