.user_show{
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
}
.user_show h3{
  padding-bottom: 30px;
}
.user_show_contents{
  margin: 30 auto;
}
.signup-login-field{
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
}